<!-- This code represents a view for displaying information about a searched folder or file.
It uses Bootstrap's components and Font Awesome icons to create an informative display.
Icon Display: Depending on whether the file type is a folder or not, the code displays either a folder icon or a file icon.
File/Folder Name: The code dynamically displays either the folder name or the file name.
Creation Date: The code converts the "createdAt" timestamp into a human-readable date format and displays it as the creation date of the file or folder.
Size: The code uses a conditional statement to display the size of the folder (calculated using the "getFolderSize" function) or the size of the file.
View Button: The code generates a URL path for viewing the folder or file. It includes conditions to handle shared items and parent folders.
The "View" button links to this URL for users to access the item. -->



<%- include ("includes/header", {
   "title": "Search"
}) %>
<!-- Including the header component with a custom title "Search" -->

<div class="container" style="margin-top: 50px;">
    <!-- Creating a container div with top margin -->

    <%- include ("includes/ResponseAlert", {
        "request": request
    }) %>
    <!-- Including the ResponseAlert component within the container div -->

    <div class="row">
        <!-- Creating a row within the container div -->
        <div class="col-md-12">
            <!-- Creating a column that spans the full width on medium screens -->
            <% if (typeof file !== "undefined") { %>
                <!-- Checking if the "file" object is defined -->
                <div class="jumbotron">
                    <!-- Creating a jumbotron component using Bootstrap classes -->

                    <p style="font-size: 100px;">
                        <% if (file.type == "folder") { %>
                            <!-- Checking if the file type is "folder" -->
                            <i class="fa fa-folder-open-o"></i>
                            <!-- Displaying a folder icon using Font Awesome -->
                        <% } else { %>
                            <i class="fa fa-file-text-o"></i>
                            <!-- Displaying a file icon using Font Awesome -->
                        <% } %>
                    </p>

                    <h1>
                        <%= file.type == "folder" ? file.folderName : file.name %>
                        <!-- Displaying the folder name if it is a folder, otherwise displaying the file name -->
                    </h1>

                    <br />

                    <p>
                        <%
                            // Converting the "createdAt" timestamp to a human-readable date format
                            var createdAt = file.createdAt;
                            createdAt = parseFloat(createdAt);
                            createdAt = new Date(createdAt);
                            createdAt = createdAt.getDate() + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear() + " " + createdAt.getHours() + ":" + createdAt.getMinutes() + ":" + createdAt.getSeconds();
                        %>
                        Created at: <%= createdAt %>
                        <!-- Displaying the creation date of the file or folder -->
                    </p>

                    <p>
                        Size:
                        <%= file.type == "folder" ? formatBytes(getFolderSize(file.files)) : formatBytes(file.size) %>
                        <!-- Displaying the size of the file or folder using the "formatBytes" function -->
                    </p>

                    <%
                        // Generating the URL path for viewing the folder or file
                        var folderPath = "";
                        if (file.type == "folder") {
                            // If it's a folder
                            if (file.isShared) {
                                folderPath = request.mainURL + '/SharedWithMe/' + file._id;
                            } else {
                                folderPath = request.mainURL + '/MyUploads/' + file._id
                            }
                        } else {
                            // If it's a file
                            if (file.isShared) {
                                folderPath = request.mainURL + '/SharedWithMe/';
                            } else {
                                folderPath = request.mainURL + '/MyUploads/';
                            }
                            folderPath += (file.parent == null) ? "" : file.parent._id;
                        }
                    %>

                    <a href="<%= folderPath %>" class="btn btn-primary">
                        View
                    </a>
                    <!-- Creating a button to view the folder or file by providing the calculated "folderPath" URL -->
                </div>
            <% } %>
        </div>
    </div>
</div>

<%- include ("includes/footer") %>
<!-- Including the footer component -->
